<!DOCTYPE html>
<html>
<head>
  <title>Banco Financiero - Inicio</title>
  <style>
    body {
      background: url('https://agn.gt/wp-content/uploads/2020/12/foto-2-pag-6-12.jpg') center/cover fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      color: white;
    }

    h1 {
      font-size: 36px;
      text-align: center;
      margin-bottom: 20px;
    }

    .section {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px;
      margin-bottom: 20px;
      max-width: 600px;
      text-align: center;
    }

    .section h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .section p {
      font-size: 16px;
      margin-bottom: 0;
    }
  </style>
</head>
<body>
  <h1>Bienvenido al Banco Mi Prestamito</h1>
  
  <div class="section">
    <h2>Misión</h2>
    <p>En el Banco Financiero, nuestra misión es brindar servicios financieros confiables y accesibles, satisfaciendo las necesidades de nuestros clientes y contribuyendo al desarrollo económico de la comunidad.</p>
</div>

<div class="section">
    <h2>Visión</h2>
    <p>Nuestra visión en el Banco Financiero es ser líderes en el sector financiero, reconocidos por nuestra excelencia en el servicio al cliente.</p>
</div>

<div class="section">
    <h2>Nosotros</h2>
    <p>Somos una institución financiera comprometida con el crecimiento y bienestar de nuestros clientes.</p>
</div>
  <!-- Agrega tus scripts JavaScript personalizados aquí -->
</body>
</html>
